<nav class='columns is-mobile is-primary navbar is-fixed-bottom' style='margin-bottom: 0;'>
  <div class='column has-text-centered has-text-weight-bold'>
    <%= t('global.footer', year: Date.current.year) %>
  </div>
</nav>
