<nav class='navbar is-primary'>
  <div class='container'>
    <div class='navbar-brand'>
      <a href='#' class='navbar-item has-text-weight-bold'>
        <%= image_tag('money.png') %>&nbsp;
        <%= t('global.title') %>
      </a>
  </div>
</nav>
