/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.nav-footer .content {
  width: 100%;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

.notification {
  margin: 0 0 10px !important;
}

.notification.is-success {
  color: #257942 !important;
  background-color: #effaf3 !important;
}

.notification.is-danger {
  color: #cc0f35 !important;
  background-color: #feecf0 !important;
}

.columns:last-child {
  margin-bottom: 5px !important;
}
