%screen {
  min-width: 295px;
  max-width: 700px;
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
}

.login {
  min-height: calc(100vh - 104px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}

.login-screen {
  @extend %screen;

  min-height: 370px;
}

.signup-screen {
  @extend %screen;

  min-height: 680px;
  margin-bottom: 50px;
}

.forgot-screen {
  @extend %screen;

  min-height: 290px;
}
